<?php
// HTTP
define('HTTP_SERVER', 'https://ravendentalgroup.com/admin/');
define('HTTP_CATALOG', 'https://ravendentalgroup.com/');

// HTTPS
define('HTTPS_SERVER', 'https://ravendentalgroup.com/admin/');
define('HTTPS_CATALOG', 'https://ravendentalgroup.com/');

// DIR
define('DIR_APPLICATION', '/home/ravenden/public_html/admin/');
define('DIR_SYSTEM', '/home/ravenden/public_html/system/');
define('DIR_IMAGE', '/home/ravenden/public_html/image/');
define('DIR_STORAGE', '/home/ravenden/storage/');
define('DIR_CATALOG', '/home/ravenden/public_html/catalog/');
define('DIR_LANGUAGE', DIR_APPLICATION . 'language/');
define('DIR_TEMPLATE', DIR_APPLICATION . 'view/template/');
define('DIR_CONFIG', DIR_SYSTEM . 'config/');
define('DIR_CACHE', DIR_STORAGE . 'cache/');
define('DIR_DOWNLOAD', DIR_STORAGE . 'download/');
define('DIR_LOGS', DIR_STORAGE . 'logs/');
define('DIR_MODIFICATION', DIR_STORAGE . 'modification/');
define('DIR_SESSION', DIR_STORAGE . 'session/');
define('DIR_UPLOAD', DIR_STORAGE . 'upload/');

// DB
define('DB_DRIVER', 'pdo');
define('DB_HOSTNAME', 'localhost');
define('DB_USERNAME', 'ravenden_1');
define('DB_PASSWORD', '***REDACTED***');
define('DB_DATABASE', 'ravenden_1');
define('DB_PORT', '3306');
define('DB_PREFIX', 'oc_');

// OpenCart API
define('OPENCART_SERVER', 'https://www.opencart.com/');